:root {
  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: #242424;
}

#heading {
  text-align: center;
  padding-top: 10px;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.map-container {
  width: 50vw; 
  height: 80vh; 
}

#findmy {
  margin-bottom: 20px;
}

.location-input {
  width: 40vw;
  padding-left: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 10px;
}

input {
  padding: 8px;
  margin-left: 10px;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
